
.hidden {
    visibility : hidden;
}


#Console {
    margin-top: auto;
    height: 300px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    width: 100%;
    scrollbar-width: thin;
    scrollbar-color: #5e5e5eFF #00000000;
}


#FloatingMessagesHolder {
    position: fixed;
    z-index: 1500;
    height: 100%;
    width: 100%;
    pointer-events:none;
}
#BackgroundFloatingMessageDetector {
    position: fixed;
    z-index: -1500;
    height: 100%;
    width: 100%;
}

.FloatingMessage {
    position: absolute;
    transition: transform 1s linear, opacity 1s linear;
    pointer-events: none;
    font-weight: 900;
    font-size: 1.5em;
    text-shadow: black 1px 0 10px;
}
.FloatingMessageGoingUp{
    transform : translateY(-500%);
    opacity : 0%;
}





.loading-progress {
    position: relative;
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 20vh auto 1rem auto;
}

.loading-progress circle {
    fill: none;
    stroke: #e0e0e0;
    stroke-width: 0.6rem;
    transform-origin: 50% 50%;
    transform: rotate(-90deg);
}

.loading-progress circle:last-child {
    stroke: #1b6ec2;
    stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
    transition: stroke-dasharray 0.05s ease-in-out;
}

.loading-progress-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
}

.loading-progress-text:after {
    content: var(--blazor-load-percentage-text, "Loading");
}


body {
    overscroll-behavior: none;
}

html {
    overscroll-behavior: none;
}
* {
    overscroll-behavior: none;
}