.appearOnMobileOnly {
    display: none;
}

.inlineblock{
    display:inline-block;
}

@media (max-width: 800px) {
    .appearOnMobileOnly {
        display: initial;
    }
    .dontAppearOnMobile {
        display:none;
    }
}

#blazor-error-ui{
    visibility:collapse;
    width:0px;
    display:none;

}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    touch-action: manipulation;
}
html {
    height: 100%;
    width: 100%;
}
#app {
    width: 100%;
}
body{
    box-sizing:border-box;
    background-color: #1e1e1e;
    color: white;
    height:100%;
    display:flex;
    width:100%;
}
main{
    display:flex;
    height:100%;
    width:100%;
    flex-direction:column;
}
#MouseMoveDetector{
    height:100%;
    width:100%;
    display:flex;
    flex-direction:column;
}
#Banner {
    height: 35px;
    width: 100%;
    display: block;
    background: linear-gradient(180deg, rgba(32,32,32,1) 0%, rgba(55,55,55,1) 53%, rgba(32,32,32,1) 100%);
    display:flex;
    align-items:center;
    padding-left:8px;
}

#BannerDisclaimer{
    margin-left:auto;
}

@media(max-width:500px) {
    #BannerDisclaimer {
        font-size: 12px;
    }
}
    @media(max-width:400px) {
        #BannerDisclaimer {
            font-size: 8px;
        }
    }
#MainDivContainer{
    height:100%;
}
#MainDiv{
    position:relative;
    display:flex;
    flex-grow:1;
    width:100%;
    overflow-x:clip;
}
#PotatoButton{
    width:min(33%, 400px);
    background-image:url(../Images/dirt128.jpg);
    height:100%;
    display:flex;
    flex-direction:column;
    border: 2px solid #6e6e6e;
    border-radius:15px;
    position : absolute;
    align-items:center;

    transition : transform 0.6s ease-in-out;
    z-index:5;
}
#PotatoButtonDisplay {
    position: fixed;
    transition: left 0.6s ease-in-out;
    z-index: 10;
}

#BuildingsButtonDisplay {
    position: fixed;
    transition: right 0.6s ease-in-out;
    z-index: 10;
}
#Page {
    width: calc( max( 67% - min(70%,250px), calc(calc(100% - 400px) - min(70%,250px)) ));
    border: 2px solid #6e6e6e;
    border-radius: 15px;
    scrollbar-width: thin;
    scrollbar-color: #5e5e5eFF #00000000;
    position: absolute;
    left: min(33%, 400px );
    height: 100% ;
    background-image:url(../Images/rubber256.jpg);
}

@media (max-width: 800px){
    #Page{
        width : 100%;
        left:0%;
    }

    #PotatoButton{
        width:40%;
    }

    #PotatoButton.closed{
        transform : translateX(-100%);
        
    }

    #PotatoButtonDisplay {
        
        left: 40%;
        top: 90%;
    }
    #PotatoButtonDisplay.closed {
        left: 0%;
       
    }
    #BuildingsButtonDisplay {
        right:50%;
        top:60%;
    }
    #BuildingsButtonDisplay.closed {
        right: 0%;
    }
}


#Buildings {
    width: min( max(30%, 180px), 250px);
    background-color: #151515;
    height: 100%;
    border: 2px solid #6e6e6e;
    border-radius: 15px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #5e5e5eFF #00000000;
    position: absolute;
    right: 0px;
    transition: transform 0.6s ease-in-out;
}

@media (max-width:800px){
    #Buildings {
        width: 50%;
        overflow-x: clip;
    }

    #Buildings.closed {
        transform: translateX(100%);

    }
}





#potatocountMobile{
    display:none;
    text-align:center;
}
#potatoCountDesktop {
    display: block;
    font-size: 1.8em;
    text-align: center;
}

@media (max-width : 800px){
    #potatocountMobile {
        display: inline;
        text-align: center;
    }
    #potatoCountDesktop {
        display: none;
    }
}

#PotatoButtonPPS{
    text-align:center;
}

#PotatoButtonBuffs{
    width:100%;
    display:flex;
}

#bigpotato {
    margin:0px;
    padding:0px;
    position:absolute;
    width:min(100%, 400px);
    top:calc(50% - 200px);
    user-select:none;
    margin-left:auto;
}
#bigpotato:active{
    filter:brightness(80%);
}

#Buildings .Building{
    display:flex;
    background-image: url(../Images/rock128.jpg);
    border-radius: 10px;
    margin: 3px;
    position:relative;
}


#Buildings .Building .BuildingIcon{
    border: 2px solid black;
    width: 72px;
    height:72px;
    border-radius:10px;
    margin:3px;
    user-select:none;
}

@media (max-width:500px){
    #Buildings .Building .BuildingIcon {
        width: 48px;
        height: 48px;
        border-radius: 10px;
        margin: 3px;
        user-select: none;
    }
}
#Buildings .Building .BuildingTexts{
    display:flex;
    width:100%;
    user-select: none;
    }


#Buildings .Building .BuildingTexts .BuildingTextsLeft{
        flex-grow:1;
    }
#Buildings .Building .BuildingTexts .BuildingTextsLeft .BuildingTextsName {
        font-size: 1.3em;
    }
@media (max-width:500px) {
    #Buildings .Building .BuildingTexts .BuildingTextsLeft .BuildingTextsName {
        font-size: 1.0em;
    }
}
#Buildings .Building .BuildingTexts .BuildingTextsRight{
    display:flex;
    align-items:center;
}
#Buildings .Building .BuildingTexts .BuildingTextsRight .BuildingTextsAmount{
        font-size:2em;
        text-align:end;
        align-self:flex-start;
    }
@media (max-width:500px) {
    #Buildings .Building .BuildingTexts .BuildingTextsRight .BuildingTextsAmount {
        font-size: 1.5em;
        text-align: end;
        align-self: flex-start;
    }
}

#Buildings .Building .BuildingTexts .BuildingTextsLeft .BuildingTextsPrice{
        color : red;
        background-color: #1e1e1e;
        padding: 2px 5px 2px 5px;
        border: 2px solid lightgrey;
        border-radius: 4px;
        margin-top:2px;
        margin-bottom : 2px;
        display:inline-block;
    }
@media (max-width:500px) {
    #Buildings .Building .BuildingTexts .BuildingTextsLeft .BuildingTextsPrice {
        padding: 1px 2px 1px 2px;
        border: 2px solid lightgrey;
        margin-top: 2px;
        margin-bottom: 2px;
        display: inline-block;
        font-size:0.8em;
    }
}

.BuildingBestPayback{
    height : 10px;
    width : 10px;
    background-color : cyan;
    display : inline-block;
    margin-left : 4px;
    
}

.hidden {
    visibility : hidden;
}

#Buildings .Building .BuildingTexts .BuildingTextsLeft .BuildingTextsPrice.CanBuyBuilding {
    color: greenyellow;
}

#MakeSureBuildingIsScrollable{
    height:500px;
}

.BuildingTooltip{
    position:fixed;
    background-color:#151515;
    height:250px;
    width:350px;
    transform:translateX(-350px);
    top:25px;
    z-index:10;
    border: 2px solid #9e9e9e;
    border-radius:10px;
    display:flex;
    flex-direction:column;
    padding-left:4px;
}
@media(max-width: 800px){
    .BuildingTooltip {
        transform: translate(-250px);
        width: 250px;
    }
}
@media(max-width: 500px) {
    .BuildingTooltip {
        transform: translate(-200px);
        width: 200px;
        font-size:0.8em;
    }
}
@media(max-width: 400px) {
    .BuildingTooltip {
        transform: translate(-150px);
        width: 150px;
        font-size: 0.6em;
    }
}
.buildingTooltipHide{
    display:none;
}
@media(max-width: 800px) {
    .buildingTooltipShow {
        display: none;
    }
    .buildingTooltipShowMobile {
        display:flex;
    }
    .buildingTooltipHideMobile {
        display:none;
    }
}
.CheapestBuilding{
    color: cyan;
}
.BuildingInfoButton{
    position:absolute;
    width:35px;
    height:35px;
    color:white;
    background-color:black;
    border-radius:35px;
    bottom:3px;
    right:3px;
}


#MiddlePageContainer{
    width:100%;
    height:100%;
}


#MiddlePageButtons{
    height: 100px;
    width:80%;
    margin-left:10%;
    border:2px  double #4040FF;
    border-radius:10px;
    padding:8px;
    
}
.middlePageButtonsContainer{
    display:flex;
    justify-content:space-between;
    padding:4px;

}
#MiddlePageButtons button{
    height:34px;
    width: 80px;
}
#ContentMiddlePage{
    overflow-y:scroll;
    scrollbar-width:thin;
    height: calc(100% - 100px);
    padding-left:8px;
}


#UpgradeMenu{
    height:60px;
    overflow-y:scroll;
    scrollbar-width:thin;

}
.upgradeIcon{
    height:48px;
    margin:2px;
    border: 2px solid white;
    border-radius: 8px;
    display: inline-block;
}
.upgradeCheaperThanBuilding{
    border: 2px solid cyan;
}
.upgradeMobile{
    display:none;
}

.unableToBuyUpgrade{
    opacity:40%;
}

@media (max-width : 800px) {
    .upgradeDesktop{
        display:none;
    }
    .upgradeMobile{
        display:inline-block;
    }
}


.upgradeTooltip {
    position: fixed;
    background-color: #151515;
    height: 250px;
    width: 350px;
    transform: translateX(-350px);
    top: 25px;
    z-index: 10;
    border: 2px solid #9e9e9e;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding-left: 4px;
}

.upgradeTooltipHide{
    display:none;
}




@media(max-width:800px){
    .upgradeModalOpened {
        display: flex;
        flex-direction: column;
    }
}



.upgradeBuyModal {
    position: fixed;
    background-color: #151515;
    height: 250px;
    width: 500px;
    transform: translateX(-250px);

    top: 25%;
    z-index: 10;
    border: 2px solid #9e9e9e;
    border-radius: 10px;
    display: none;
    flex-direction: column;
    padding-left: 4px;
}

@media(max-width: 800px) {
    .upgradeBuyModal {
        transform: translateX(-250px);
        width: 500px;
        display:flex;
    }
}

@media(max-width: 500px) {
    .upgradeBuyModal {
        transform: translate(-175px);
        width: 350px;
        font-size: 0.8em;
    }
}

@media(max-width: 400px) {
    .upgradeBuyModal {
        transform: translate(-125px);
        width: 250px;
        font-size: 0.6em;
    }
}

.upgradeBuyModalCloseButton{
    margin-left:auto;
    width:33px;
    height:33px;
    background-color:black;
    color:white;
}

.upgradeBuyButtonMobile{
    color:white;
    background-color:black;
}
.upgradeModalDivPictureAndButton{
    display:flex;
    justify-content:space-between;
}
    .upgradeModalDivPictureAndButton img{
        height:64px;
        width:64px;
        border: 2px solid white;
        border-radius: 10px;
    }

    .upgradeModalClosed {
        display: none;
    }





.MysticalPotatoHolder{
    position:fixed;
    z-index:1000;
    height:100%;
    width:100%;
    
    pointer-events:none;
}

.mysticalPotatoContainer {
    position: relative;
    width: 150px;
    height: 150px;
    --border: 5px solid red;
    z-index: 1010;
    pointer-events:auto;
    transition: opacity 5s linear;
    opacity : 100%;
}

.mysticalPotatoGravity {
    height: 100%;
    position: absolute;
    animation: spin 4s linear infinite;
}
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
} 
.mysticalPotatoMain{
    position:absolute;
    height:60%;
    left:30%;
    top:18%;
}


.MysticalPotatoInvisible{
    visibility:hidden;
    opacity:0%;
    pointer-events:none;
}
.MysticalPotatoDisappearing{
    opacity:0%;
}


#Console {
    margin-top: auto;
    height: 300px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    width: 100%;
    scrollbar-width: thin;
    scrollbar-color: #5e5e5eFF #00000000;
}


#FloatingMessagesHolder {
    position: fixed;
    z-index: 1500;
    height: 100%;
    width: 100%;
    pointer-events:none;
}
#BackgroundFloatingMessageDetector {
    position: fixed;
    z-index: -1500;
    height: 100%;
    width: 100%;
}

.FloatingMessage {
    position: absolute;
    transition: transform 1s linear, opacity 1s linear;
    pointer-events: none;
}
.FloatingMessageGoingUp{
    transform : translateY(-500%);
    opacity : 0%;
}

#PotatoFeverIconContainer{
    position:relative;

    height:48px;
    width:48px;
   
}
#PotatoFeverIconImage {
    height: 100%;
    text-align: center;
    border-radius: 15px;
    border: 2px solid yellow;
}
#PotatoFeverIconTime{
    width:100%;
    position:absolute;
    bottom:0px;
    text-align:center;
    margin-left:auto;
    display:block;
}





.loading-progress {
    position: relative;
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 20vh auto 1rem auto;
}

        .loading-progress circle {
            fill: none;
            stroke: #e0e0e0;
            stroke-width: 0.6rem;
            transform-origin: 50% 50%;
            transform: rotate(-90deg);
        }

            .loading-progress circle:last-child {
                stroke: #1b6ec2;
                stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
                transition: stroke-dasharray 0.05s ease-in-out;
            }

    .loading-progress-text {
        position: absolute;
        text-align: center;
        font-weight: bold;
        inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
    }

        .loading-progress-text:after {
            content: var(--blazor-load-percentage-text, "Loading");
        }