#Page {
    width: calc( max( 67% - min(70%,250px), calc(calc(100% - 400px) - min(70%,250px)) ));
    border: 2px solid #6e6e6e;
    border-radius: 15px;
    scrollbar-width: thin;
    scrollbar-color: #5e5e5eFF #00000000;
    position: absolute;
    left: min(33%, 400px );
    height: 100%;
    background-image: url(../Images/rubber256.jpg);
}
@media (max-width: 800px) {
    #Page {
        width: 100%;
        left: 0%;
    }
}





#MiddlePageContainer {
    width: 100%;
    height: 100%;
}


#MiddlePageButtons {
    height: 100px;
    width: 80%;
    margin-left: 10%;
    border: 2px double #4040FF;
    border-radius: 10px;
    padding: 8px;
}

.middlePageButtonsContainer {
    display: flex;
    justify-content: space-between;
    padding: 4px;
}

#MiddlePageButtons button {
    height: 34px;
    width: 80px;
}

#ContentMiddlePage {
    overflow-y: scroll;
    scrollbar-width: thin;
    height: calc(100% - 100px);
    padding-left: 8px;
}

.diamondstats {
    display: inline-block;
    height: 1em;
    width: 1em;
}